<div class="bg-gray-200 dark:bg-gray-500 dark:text-gray-200 rounded-lg shadow-xl px-6 py-4 my-4">
	<h2 class="mb-3 font-bold text-gray-800 dark:text-gray-100 text-xl">{{title}} {{first_name}} {{last_name}}</h2>
	<h3 class="mb-1 font-bold text-lg">Vorwürfe:</h3>
	<ul class="list-disc">
	{{#each accusations as |accusation|}}
		{{> components/accusation}}
	{{/each}}
	</ul>
	<h3 class="mb-1 font-bold text-lg">Konsequenzen:</h3>
	<p>Parteiaustritt? {{{consequence (date left_party)}}}</p>
	<p>Mandat niedergelegt? {{{consequence (date resigned_mandate)}}}</p>
</div>